.datadao-details-main-div {
  width: 100%;
}
.datadao-details-div {
  width: 50%;
  margin: 0 auto;
}
.datadao-details-section1 {
  /* border-bottom: 1px solid black; */
  padding: 20px;
}
.dataset-main-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.datadao-rightbar-flex {
  width: 40%;
}
.datadao-leftbar-flex {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.datadao-details-btn {
  width: 100%;
}

.datadao-details-btn-cls {
  width: 13vw;
  margin-left: 0.6vw !important;
  margin-top: 1.3vh !important;
}

.datadao-details-section2 {
  /* border-bottom: 1px solid black; */
  padding: 20px;
}
.datadao-details-button {
  margin: 10px;
}

.datadao-details-btn-close {
  padding: 10px;
  background-color: #1b143e;
  color: white;
  border: #1b143e 1px solid;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.create-proposal-btn {
  padding: 10px;
  background-color: #1b143e;
  color: white;
  border: #1b143e 1px solid;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.datadao-details-extra-btn {
  padding: 10px;
  background-color: #1b143e;
  color: white;
  border: #1b143e 1px solid;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.css-wtgcon {
  padding: 0px !important;
}
.create-proposal-main-div {
  height: 80vh;
}

.up-img {
  height: 50px;
  width: 50px;
}

.create-proposal-div {
  text-align: center;
  margin: 0 auto;
  padding-top: 5vh;
}
